.news__container{
    max-width: 1920px;
    margin:  0 auto;
    background-color: rgb(253, 244, 246);
    padding: 50px 0;
}
.news__title{
    text-align: center;
    color:rgb(40, 134, 241);
    font-size: 60px;
    font-weight: bold;
    margin: 0 0  120px 0;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background:rgb(40, 134, 241);
    width: 400px;
    height: 86px;
    a{
        color:#fff;
        font-size: 18px;
        font-weight: 700;
    }
    .swiper-slide{
        width: 500px;
    }
}
@media (min-width:320px) and (max-width:320px){
    .news__container{
        max-width: 1920px;
        margin:  0 auto;
        background-color: rgb(253, 244, 246);
        padding: 10px 0;
    }
    .news__title{
        text-align: center;
        color:rgb(40, 134, 241);
        font-size: 25px;
        font-weight: bold;
        margin: 0 0 20px 0;
    }
    .link{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        background:rgb(40, 134, 241);
        width: 150px;
        height: 56px;
        a{
            color:#fff;
            font-size: 12px;
            font-weight: 700;
        }
    }
    .swiper-slide{
        img{
            width: 250px;
            height: 150px;
        }
    }
}