footer
    .footer__container
        .footer__row
            .footer__block 
                .footer__name ОАО «МАШПИЩЕПРОД» концерн <br/> «Белгоспищепром»
                .footer__address 222830, Республика Беларусь, Минская обл.,<br/> Пуховичский р-н, г. Марьна Горка, 
                .footer__city ул. Чапаева, д. 15
            .footer__block 
                a(href="#s") info@mirabel.by
                .footer__tel + 375 17 13-35-200
            .footer__block
                .footer__social Мы в социальных сетях
                .footer__list 
                    a(href="#s") 
                        img(src="./assets/imgs/tt.png", alt="tt")
                    a(href="#s")    
                        img(src="./assets/imgs/yt.png", alt="yt")
                    a(href="#s") 
                        img(src="./assets/imgs/inst.png", alt="inst")
                    a(href="#s") 
                        img(src="./assets/imgs/link.png", alt="link")
                    a(href="#s") 
                        img(src="./assets/imgs/vk.png", alt="vk")
                    a(href="#s") 
                        img(src="./assets/imgs/fc.png", alt="fc")
        .footer__site Сайты государственных предприятий
                .site
                    .slider
                        .swiper
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="./assets/imgs/kraina.png", alt="img")
                                .swiper-slide
                                    img(src="./assets/imgs/kraina.png", alt="img")
                                .swiper-slide
                                    img(src="./assets/imgs/kraina.png", alt="img")
                                .swiper-slide
                                    img(src="./assets/imgs/kraina.png", alt="img")
        .footer__info
            .footer__allRight © 2012 — 2022 ОАО «Машпищепрод» Все права защищены
            .footer__company
                .footer__scroll Сайт изготовлен
                img(src="./assets/imgs/scroll.png", alt="logo")
