header 
    .header__container
        .header__row 
            .header__burger
            .header__menu
                .header__image
                    img(src="./assets/imgs/logo.png", alt="logo").header__logo
                    p ОАО «Машпищепрод» <br/> концерн «Белгоспищепром»
                ul.header__list
                    li 
                        a(href="#")  О компании
                    li 
                       a(href="#")  Продукция
                    li
                        a(href="#")  Промыгленность
                    li
                        a(href="#")  Контакты
            .header__options    
                .header__select
                .header__search
                .header__glass
    .header__title "МИРА"
    .header__text Снэки картофельные
    img(src="./assets/imgs/mira.png", alt="logo").header__img

