.item__container 
    .item__row
        .item__section
            img(src="./assets/imgs/launch.png", alt="logo").imgLogo
            .item__circle 
            .item__text Мы занимаем лидирующую позицию<br/>  по производству сухого <br/>  картофельного пюре
        .item__section2
            img(src="./assets/imgs/grow.png", alt="logo").imgLogo
            .item__circle
            .item__text Используем картофель<br/>  исключетельно собственных полей 
        .item__section3
            img(src="./assets/imgs/weighing-scale.png", alt="logo").imgLogo
            .item__circle
            .item__text Предприятие является лидирующим <br/>  производителем нестандартного <br/> пищевого оборудования и оказывает <br/> услуги по обработке металла
        .item__section4
            img(src="./assets/imgs/medall.png", alt="logo").imgLogo
            .item__circle2
            .item__text 40 лет на рынке производства <br/> продуктов питания