.main__container
    .main__row  
        a(href="#s") 
            .main__item 
                p чипсы
                img(src="./assets/imgs/chipsy.png", alt="").imgChipsy
        a(href="#s")
            .main__item2
                p  снеки
                img(src="./assets/imgs/chipsy.png", alt="").imgChipsy
        a(href="#s")
            .main__item3 
                p Кукурузные палочки
                img(src="./assets/imgs/chipsy.png", alt="").imgChipsy
        a(href="#s")
            .main__item4 
                p картофельное пюре
                img(src="./assets/imgs/chipsy.png", alt="").imgChipsy
        a(href="#s")
            .main__item5 
                p Жареные <br/>семечки
                img(src="./assets/imgs/chipsy.png", alt="").imgChipsy
        a(href="#s")
            .imgCatalog 
                .text__catalog Весь каталог  