.news__container 
    .news__title Новости
    .slider
        .swiper
            .swiper-wrapper
                .swiper-slide
                    img(src="./assets/imgs/news.png", alt="img")
                .swiper-slide
                    img(src="./assets/imgs/news.png", alt="img")
                .swiper-slide
                    img(src="./assets/imgs/news.png", alt="img")
                .swiper-slide
                    img(src="./assets/imgs/news.png", alt="img")
    .link 
        a(href="#s")  Смотреть все новости