.parthners__container   
    .parthners__title   Партнеры
        .slider
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .border
                            img(src="./assets/imgs/logo.png", alt="logo")
                    .swiper-slide
                        .border
                            img(src="./assets/imgs/logo.png", alt="logo")
                    .swiper-slide
                        .border
                            img(src="./assets/imgs/logo.png", alt="logo")
                    .swiper-slide
                        .border
                            img(src="./assets/imgs/logo.png", alt="logo")
                    .swiper-slide
                        .border
                            img(src="./assets/imgs/logo.png", alt="logo")
                    .swiper-slide
                        .border
                            img(src="./assets/imgs/logo.png", alt="logo")                                                                        