.sales__container
    .sales__title Лидеры продаж 
    .sales__row     
        .sales__item
            img(src="./assets/imgs/snaks.png", alt="img").imgSnaks
            .sales__circle
            .sales__text Чипсы картофельные <br/>«Мира»
        .sales__item
            img(src="./assets/imgs/snaks.png", alt="img").imgSnaks
            .sales__circle
            .sales__text Чипсы картофельные <br/> «Мира»
        .sales__item
            img(src="./assets/imgs/snaks.png", alt="img").imgSnaks
            .sales__circle
            .sales__text Чипсы картофельные<br/> «Мира»
        .sales__item
            img(src="./assets/imgs/snaks.png", alt="img").imgSnaks
            .sales__circle
            .sales__text Чипсы картофельные<br/> «Мира»